.outline{
    color:#ad2121;
    border-radius: 25px;
    background: #2f21ad;
    padding: 20px;
    width: 200px;
    height: 150px;
}
.rcorners1 {
    border-radius: 20px;
    background: #3f21ad;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
